<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.NightmareApps.NyanCatLive"
    android:versionCode="1"
    android:versionName="0.5" >

    <uses-sdk android:minSdkVersion="7" />

    <uses-feature android:name="android.software.live_wallpaper" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <service
            android:name="Engine"
            android:label="@string/wallpaper_label"
            android:permission="android.permission.BIND_WALLPAPER" >
            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService" />
            </intent-filter>

            <meta-data
                android:name="android.service.wallpaper"
                android:resource="@layout/main" />
        </service>

        <activity
            android:name="MainActivity"
            android:icon="@drawable/ic_launcher"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="Settings"
            android:configChanges="orientation|keyboard|keyboardHidden"
            android:excludeFromRecents="true"
            android:exported="true"
            android:icon="@drawable/ic_launcher"
            android:label="@string/settings_activity"
            android:theme="@android:style/Theme.Light.WallpaperSettings" >
        </activity>
        <activity android:name=".ShowSettingsActivity" />
    </application>

</manifest>